<div class="banner d-flex align-items-center">
  <div class="container">
      <%= link_to "Melodict", exercises_path, class: "navbar-brand" %>
      <p class="py-2">Challenge yourself, make music together.</p>
  </div>
</div>
