
<div id="particles-js">
  <div class="count-particles">
    <div class="banner d-flex align-items-center">
      <div class="container">
          <%= link_to "Melodict", exercises_path, class: "navbar-brand" %>
          <p class="py-2">Challenge yourself, make music together.</p>
      </div>
    </div>
  </div>
  <script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
  <script src="http://threejs.org/examples/js/libs/stats.min.js"></script>
</div>
