
<%# <div id="particles-js"> %>
  <%# <div class="count-particles"> %>
<div class="banner d-flex align-items-center">
  <div class="container">
    <h1 class="navbar-brand">Melodict</h1>
    <p class="py-2">Challenge yourself, make music together.</p>
    <% if !user_signed_in?   %>
      <%= link_to 'ゲストログイン', users_guest_sign_in_path, method: :post, class: "login" %>
    <% else %>
      <%= link_to "エクササイズを探す", exercises_path, class: "start-ex" %>
    <% end %>
  </div>
</div>
  <%# </div> %>
  <%# <script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
  <script src="http://threejs.org/examples/js/libs/stats.min.js"></script> %>
<%# </div> %>
