.index-ex {
  background-color: $black;
  color: white;
  min-height: -webkit-fill-available;
}

#button-container {
  min-width: 280px;
  display: flex;
  position: relative;
  justify-content: center;
}
