.navbar-lewagon {
  justify-content: space-between;
  background: $black;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-item > a {
  position: relative;
}

.navbar-brand {
  font-family: $logo-font;
  font-size: 26px;
  padding: 0;
  &:hover {
    transition: 0.8s;
  }
}
