// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "components/card";
@import "components/button";


html, body {
  height: 100%;
}

body {
  margin: 0;
  background-color: $black;
  // display: flex;
  // flex-direction: column;
}

// .content {
//   flex: 1 0 auto;
// }

// canvas {
  // display: block;
  // vertical-align: bottom;
// }

#particles-js {
  position: absolute;
  width: 100%;
  background-color: $black;
  height: 100%;
  // background-image: url("");
  // background-repeat: no-repeat;
  // background-size: cover;
  // background-position: 50% 50%;
}

  .count-particles {
    background: #000022;
    position: absolute;
    // top: 48px;
    // left: 0;
    // width: 0;
    color: #13E8E9;
    font-size: .8em;
    text-align: center;
    // text-indent: 4px;
    // line-height: 14px;
    padding-bottom: 2px;
    // font-family: Helvetica, Arial, sans-serif;
    // font-weight: bold;
}

.js-count-particles {
    font-size: 1.1em;
}

// #stats, .count-particles {
//   -webkit-user-select: none;
//   margin-top: 5px;
//   margin-left: 5px;
// }

#stats {
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}

.count-particles {
  border-radius: 0 0 3px 3px;
}
